@font-face {
    font-family: 'CoffeCake';
    src: url('../assets/fonts/CoffeCake.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'ChampagneLimousines';
    src: url('../assets/fonts/ChampagneLimousines.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'NeonWorld';
    src: url('../assets/fonts/NeonWorld.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'ShadowsIntoLight';
    src: url('../assets/fonts/ShadowsIntoLight.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'PeanutButter';
    src: url('../assets/fonts/PeanutButter.ttf') format('truetype');
  }
